<section id="team" class="section  results-section">
      <div class="container two-column team-layout">
        <div class="section-heading">
          <h2>Команда</h2>
          <p>Професіонали, які відповідають за результат</p>
        </div>
        <div class="section-text team-text">
          <p>У нас дружній та відповідальний колектив, який готовий допомогти клієнту у вирішенні будь-якого робочого питання. Ми швидко реагуємо на запити, підбираємо оптимальні маршрути, контролюємо процес доставки та підтримуємо зв’язок із замовником. Наша команда працює для того, щоб кожен вантаж був доставлений вчасно, безпечно та з повним документальним супроводом.</p>
        </div>
      </div>
    </section>
